@media (max-width: 768px) {
    /* Estilos para teléfonos */

    .containerCreate {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        margin-top: 3em;
        margin-bottom: 3em;
    }

    .containerContactanos {
        width: 80%;
        height: 25em;
        border-radius: 10px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Añade una sombra */
    }

    .infromacion {
        display: flex;
        justify-content: center;
        width: 100%;
        margin-bottom: 2em;
    }
    
    .informacionTexto{
        width: 70%;
        text-align: center;
        font-family: "Monserrat", "Cairo", "Arial";
        font-size: 0.8em;
    }
}

@media (min-width: 769px) {
    /* Estilos para computadoras */
    .containerCreate {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        margin-top: 3em;
        margin-bottom: 3em;
    }

    .containerContactanos {
        width: 80%;
        height: 25em;
        border-radius: 10px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Añade una sombra */
    }

    .infromacion {
        display: flex;
        justify-content: center;
        width: 100%;
        margin-bottom: 2em;
    }
    
    .informacionTexto{
        width: 60%;
        text-align: center;
        font-family: "Monserrat", "Cairo", "Arial";
        font-size: 1.5em;
    }
}

